################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameStore/.vs/GameStore/v17
/GameStore/bin/Debug/net8.0
/GameStore/obj
